<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">
        {{.Title}}
    </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">{{.Title}}</h1>
        <div class="row center">
            <h5 class="header col s12 light">Enter your favorite film name to get all download links!</h5>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Autocomplete</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress" id="preloader" style="display: none">
            <div class="indeterminate"></div>
        </div>

        <div class="row" id="urlContainer">

        </div>

    </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<script>


    $(document).ready(function () {
        $('input.autocomplete').autocomplete({
            data: {},
            onAutocomplete: function (e){
                getFileUrls(e);
            }
        });
    });

    $(document).ready(function () {
        //Autocomplete
        $("#autocomplete-input").change(function () {
            $("#preloader").fadeIn();
            const query = $(this).val()
            $("#autocomplete-input").autocomplete("updateData", {});
            $.ajax({
                type: 'GET',
                url: '/api/movies/search?name=' + encodeURI(query),
                success: function (response) {
                    if (response.status) {
                        $("#preloader").fadeOut();

                        const acData = {}
                        const results = response["data"]["results"];
                        for (var i = 0; i < results.length; i++) {
                            const title = results[i]["title"] +
                                " (" +
                                results[i]["release_date"].substring(0, results[i]["release_date"].indexOf("-")) +
                                ") - " +
                                results[i]["vote_average"];
                            acData[title] = "https://image.tmdb.org/t/p/w200/" + results[i]["poster_path"];
                        }

                        $("#autocomplete-input").autocomplete("updateData", acData );
                    }


                }
            });
        });
    });

    function getFileUrls(name){
        $("#preloader").fadeIn();

        $.ajax({
            type: 'GET',
            url: '/api/movies/get-urls?=ext=.html&name=' + encodeURI(name),
            success: function (response) {

                console.log(response)
                    if(response.status){
                        let template = `<ul class="collection with-header">`

                        for(let i = 0; i < response.data.length;i++){
                            if(response.data[i]["urls"] !== null){
                                const webPageUrl = response.data[i]["web_page_url"]
                                template += `<li class="collection-header"><h4>`+webPageUrl+`</h4></li>`

                                for(let j = 0; j < response.data[i]["urls"].length;j++){
                                    const url = response.data[i]["urls"][j]
                                    template += ` <li class="collection-item"><div>` +url + `<a href="`+url+`" class="secondary-content"><i class="material-icons">download</i></a></div></li>`
                                }
                            }
                        }
                        template += ` </ul>`;

                        $("#urlContainer").html(template)
                        $("#preloader").fadeOut();
                    }

                `
                <li class="collection-header"><h4>First Names</h4></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">download</i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">download</i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">download</i></a></div></li>
                <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">download</i></a></div></li>
           `
            }
        });
    }

</script>
</body>
</html>
